.hero {
  background-image: url("../../../public/hero-background.png");
  background-position: center;
  background-size: cover;
  background-color: #2c2c2c5b;
  background-blend-mode: multiply;

  section {
    color: var(--rvr-bg);
    padding-top: 5rem;
    padding-bottom: 12rem;

    h1 {
      font-size: 5rem;
      width: 20ch;
      line-height: 114.99999999999999%;
      margin-bottom: 1rem;
    }

    .content {
      p {
        width: 50%;
        font-size: 1.2rem;
      }

      .review {
        padding: 1rem 2rem;
        border-radius: 0.8rem;
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        align-items: center;
        min-width: 20%;
        width: min-content;
        height: auto;
        margin-bottom: 3rem;

        div {
          color: black;
          display: flex;
          flex-flow: column;
          align-items: center;
          margin-right: 1rem;

          span {
            font-size: 8px;
            margin-bottom: 0.25rem;
          }

          img {
            width: 70px;
            height: auto;
          }
        }

        img {
          width: 78px;
        }
      }

      a.action-btn {
        color: white !important;
        text-underline-offset: 1rem;
      }
    }
  }
}
