.hero {
  background-image: url("../../../public/hero-background.png");
  background-position: center;
  background-size: cover;
  background-color: #2c2c2c5b;
  background-blend-mode: multiply;


  section {
    h1 {
      font-size: 5rem;
      color: var(--rvr-bg);
      width: 20ch;
    }
  }
}

