@import "../../index.scss";

.hero {
  background-image: url("../../../public/hero-background.png");
  background-position-x: center ;
  background-position-y: start;
  background-size: cover;
  background-color: #2c2c2c5b;
  background-blend-mode: multiply;
  position: relative;

      & > * {
        margin-bottom: 5rem;
      }

  section {
    color: var(--rvr-bg);
    padding-bottom: 12rem;
    padding-top: 5rem;

    @include mobile {
      padding: 2rem 1rem;

    }

    h1 {
      font-size: 5rem;
      width: 20ch;
      line-height: 114.99999999999999%;
      margin-bottom: 1rem;

      @include mobile {
        font-size: 3rem;
      }
    }

    .content {
      p {
        width: 50%;
        font-size: 1.2rem;

        @include mobile {
          width: 100%;
          font-size: 1.1rem;
        }
      }

      .review {
        padding: 1rem 2rem;
        border-radius: 0.8rem;
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        align-items: center;
        min-width: 20%;
        width: min-content;
        height: auto;
        margin-bottom: 3rem;

        div {
          color: black;
          display: flex;
          flex-flow: column;
          align-items: center;
          margin-right: 1rem;

          span {
            font-size: 8px;
            margin-bottom: 0.25rem;
          }

          img {
            width: 70px;
            height: auto;
          }
        }

        img {
          width: 78px;
        }
      }

      a.action-btn {
        color: white !important;
        text-underline-offset: 1rem;
      }
    }
  }

  .search {
    position: absolute;
    bottom: 0;
    transform: translateY(60%);
    width: 100%;
    z-index: 5;
    padding-inline: 2rem;

    @include mobile {
      position: static;
      transform: translateY(0);
      z-index: 5;
      padding: 0;
    }

    .tab-btn {
      border-radius: 0;
      color: white !important;
    }

    .tab-input,
    input,
    select {
      background-color: transparent !important;
      border-radius: 0;
      border: none;
      border-bottom: 2px solid var(--rvr-surface) !important;
    }
  }
}
