@import "../../index.scss";

section {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .offer {
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    width: 100%;

    div {
      display: flex;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      -ms-overflow-style: none;
      padding: 1rem;
      flex: 1;

      &::-webkit-scrollbar {
        display: none;
      }

      .scroll-card {
        margin-inline: 1rem;
        background-color: white;
        padding: 0.25rem;
        min-width: 450px;
        flex-shrink: 0;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(44, 44, 44, 0.1);
        display: flex;
        align-items: center;
        gap: 1rem;
        @include mobile {
          min-width: 80%;
          display: block;
        }

        .left {
          width: 50%;
          @include mobile {
            width: auto;
          }
          img {
            width: 100%;
            aspect-ratio: 1.1/1;
            object-fit: cover;
            border-radius: 8px;
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 2rem 0.5rem;

          @include mobile {
            justify-content: start;
            padding: 1rem;
          }

          h3 {
            font-size: 2rem;
            @include mobile {
              font-size: 1.5rem;
            }
          }

          p {
            color: var(--rvr-secondary-txt);
            height: min-content;
          }

          button {
            background-color: var(--rvr-brand);
            border-color: var(--rvr-brand);
            font-weight: bold;
            padding: 0.5rem 1rem;

            &:hover {
              background-color: darken(#306864, 5%);
              border-color: darken(#306864, 5%);
            }
          }
        }
      }
    }
  }
}
