@import "../../../index.scss";

.location-section {
  position: relative;
  padding: 6rem 0;
  overflow-x: hidden;

  @include mobile {
    padding: 0;
  }

  .wave {
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: 0;
    @include mobile {
      width: auto;
    }
  }

  .con {
    position: relative;
    z-index: 10;
    display: flex;
    gap: 4rem;
    padding-block: 3rem;

    @include mobile {
      flex-direction: column;
      text-align: center;
    }

    .left {
      flex: 1;
      h2 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.1rem;
        color: var(--rvr-secondary-txt);
      }
    }

    .right {
      flex: 1.5;
      background-color: white;
      padding: 1rem;
      border-radius: 2rem;

      .accordion {
        .accordion-item {
          background-color: var(--rvr-bg);
          border: none;
          border-bottom: 1px solid var(--rvr-border);
          margin-bottom: 0.5rem;

          .accordion-header {
            button {
              background-color: white;
              border: none;
              color: var(--rvr-primary-txt);
              font-weight: 500;
              padding: 1.5rem;
              box-shadow: none;

              &:focus {
                box-shadow: none;
              }

              .accordion-icon {
                color: var(--rvr-brand);
              }
            }
          }

          .accordion-body {
            padding: 1rem 1.5rem 2rem;
            color: var(--rvr-secondary-txt);
            font-size: 1.1rem;
            line-height: 1.6;
            background-color: white;
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
