.bind-text-section {
  padding: 3rem 0;

  h3 {
    font-size: 2.5rem;
  }

  .split {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    gap: 2rem;

    .text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;

      p {
        margin: 0;
        border-radius: 0.25rem;
        padding: 3rem;
        border: 1px solid;
      }

      p:first-child {
        background-color: #0c293d;
        color: white;
        border-color: #0c293d;
      }

      p:last-child {
        background-color: var(--rvr-bg);
        border-color: var(--rvr-border);
      }
    }

    img {
      width: 50%;
    }
  }
}

// 2998
