header {
  .navbar-brand.riverly-brand {
    color: #2c5a51 !important;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .navbar-nav .nav-link.riverly-nav-link {
    font-weight: 500;
    /* color: #333 !important; */
    color: white !important;
  }

  .riverly-btn {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 4px;
    padding: 0.5rem 1rem;
  }

  .btn-bons-plans {
    color: #2c5a51;
    border: 1px solid #d0f2b9;
    background-color: #fff1d3 !important;
    color: #9f2d28 !important;
    border-color: #fff1d3 !important;
    border-radius: 1rem !important;
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  .btn-devis,
  .btn-reservation {
    background-color: #2c5a51;
    border-color: #2c5a51;
    color: white;
  }

  #basic-navbar-nav {
    color: white;
  }
}
