@import "../../index.scss";

.current-favorites {
  padding: 3rem 0;
  position: relative;

  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    @include mobile {
      flex-direction: column;
      gap: 1rem;
    }

    h3 {
      font-size: 2rem;
      margin: 0;
      padding: 0;
    }
  }

  button.navigation {
    color: var(--rvr-brand);
    padding: 0.5rem;
    border: 2px solid var(--rvr-brand);

    &:first-child {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-left: none;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    &:last-child {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border-right: none;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
  }
  .tiles {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    scrollbar-width: none;
    gap: 2rem;

    .tile {
      min-width: 410px;
      max-height: 542px;
      border: 1px solid var(--rvr-border);
      border-radius: 1rem;
      overflow: hidden;

      &:first-child {
        margin-left: 8rem;
      }

      &:last-child {
        margin-right: 8rem;
      }

      img.banner {
        width: 100%;
        aspect-ratio: 1/0.5;
        object-fit: cover;
      }

      .content {
        padding: 1rem;
        display: flex;
        flex-flow: column;

        .details {
          padding: 2rem 0 1rem 0;
          margin-bottom: 0.5rem;
          border-bottom: 2px solid var(--rvr-surface);
          display: grid;
          grid-template-columns: 1fr 1fr;
          color: var(--rvr-brand);
          font-weight: bold;

          div:nth-child(even) {
            text-align: right;
          }
        }

        button {
          padding: 1rem 0;
          &.price {
            color: var(--rvr-brand);
          }
        }
      }
    }
  }
}
