.blog-section {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;

  & > h3,
  & > a.action {
    text-align: center;
  }

  & > h3 {
    font-size: 3rem;
  }

  & > a.action {
    color: black !important;
    margin: 1rem 0;
    font-size: 1.2rem;
    text-underline-offset: 0.5rem;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .blogs {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .blog {
      display: flex;
      flex-direction: column;

      & > :not(img) {
        padding-inline: 1.5rem;
      }

      .banner {
        max-width: 384px;
        max-height: 245px;
        object-fit: cover;
        border-radius: 1rem;
      }

      .top {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
          display: flex;
          align-items: center;

          img {
            margin-right: 0.5rem;
            aspect-ratio: 1/1;
            width: 32px;
            border-radius: 50%;
          }
        }
      }

      a {
        margin-top: 3rem;
        font-size: 1.3rem;
        font-weight: bold;
        text-underline-offset: 0.5rem;
      }
    }
  }
}
